@page "/change-password"
@model PRN221_Project.Pages.Authentication.ChangePasswordModel
@{
    ViewData[Constants.TITLE_KEY] = Constants.TITLE_CHANGE_PASSWORD;
    ViewData[Constants.PAGE_KEY] = Constants.PAGE_CHANGE_PASSWORD;
}

<style>

    #form-change-pass {
        width: 50%;
        border-radius: 10px;
        background: #ffffff;
        padding: 25px;
        margin: 0 auto;
    }

    .wrap-notification {
        padding: 10px 20px;
        position: fixed;
        top: 30px;
        right: 0;
        border-radius: 5px;
        display: none;
    }

    .noti-success {
        background: lightGreen;
    }

    .noti-fail {
        background: red;
    }

    .wrap-notification div {
        color: #ffffff;
        font-size: 18px;
        text-align: left;
    }

    .active {
        display: block;
    }
</style>

<h1>Change Password</h1>
<div class="container mt-5">
    <form id="form-change-pass" class="mt-5" method="post" asp-page="ChangePassword">
        <div class="form-group mt-3 mb-3">
            <label for="oldPass">Old Password</label>
            <input type="password" class="form-control" name="oldPass" id="oldPass" required>
        </div>
        <div class="form-group mt-3 mb-3">
            <label for="newPass">New Password</label>
            <input type="password" class="form-control" name="newPass" id="newPass" required>
        </div>
        <div class="form-group mt-3 mb-3">
            <label for="cfPass">Confirm Password</label>
            <input type="password" class="form-control" name="cfPass" id="cfPass" required>
        </div>
        <div class="text-center p-3">
            <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Change Password</button>
        </div>
    </form>
</div>
<form method="post" asp-page="/Index" asp-page-handler="Logout" id="form-submit-logout"></form>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

@if (TempData.ContainsKey(Constants.MESSAGE_KEY_RESPONSE))
{
    <div class="wrap-notification">
        <div id="text-notification">@TempData[Constants.MESSAGE_KEY_RESPONSE]</div>
    </div>

    <script>
        @*get element*@
        const notification = document.querySelector(".wrap-notification");
        const text_notification = document.querySelector("#text-notification");
        const formSubmitLogout = document.querySelector("#form-submit-logout");

        if (text_notification.textContent.toLowerCase().includes("successfully")) {
            notification.classList.add("noti-success");
        } else {
            notification.classList.add("noti-fail");
        }

        @*add class*@
            notification.classList.add("active");

        @*remove class after 1s*@
                setTimeout(() => {
                    notification.classList.remove("active");
                    formSubmitLogout.submit();
                }, 1000);
    </script>
}

<script>
    const newPass = document.querySelector("#newPass");
    const cfPass = document.querySelector("#cfPass");
    const formChangePass = document.querySelector("#form-change-pass");

    formChangePass.addEventListener("submit", (event) => {
        event.preventDefault();
        if (cfPass.value === newPass.value) {
            formChangePass.submit();
        } else {
            alert("Confirm password must match new password!");
        }
    })
</script>